{% extends "base.html" %}

{% block title %}管理者画面{% endblock %}

{% block header_links %}
<a href="/users">ユーザー一覧</a>
<a href="/register">ユーザー登録</a>
<a href="/logout">ログアウト</a>
{% endblock %}

{% block content %}
<!-- タイトルの吹き出しの部分 -->
<div class="greeting-container2">
    <img src="{{ url_for('static', filename='img/character2.png') }}" class="character2-img">
    <div class="speech-bubble2">
        出欠・遅刻連絡一覧
    </div>
</div>
<!-- ここまで -->
<div class="table-card">
<p>ログイン中：{{ session['user_id'] }}</p>

<table>
    <tr>
        <th>送信時間</th>
        <th>対象日時</th>
        <th>名前</th>
        <th>理由</th>
        <th>詳細</th>
    </tr>
    {% for record in records %}
    <tr>
        <td>{{ record[0] }}</td>
        <td>{{ record[1] }}</td>
        <td>{{ record[2] }}</td>
        <td>{{ record[3] }}</td>
        <td>{{ record[4] }}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
