{% extends "base.html" %}

{% block title %}ログイン{% endblock %}

{% block header_links %}
<a href="/">トップへ戻る</a>
{% endblock %}

{% block content %}
<div class="greeting-container2">
    <img src="{{ url_for('static', filename='img/character2.png') }}" class="character2-img">
    <div class="speech-bubble2">
        管理者ログイン
    </div>
</div>

<form method="post">

    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    <label for="username">ユーザー名:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">パスワード:</label>
    <input type="password" id="password" name="password" required><br><br>

    <div class="button-wrapper">
        <button type="submit">ログイン</button>
    </div>
</form>
{% endblock %}